.card-list {
  .card {
    margin-bottom: 1em;
  }

  .card:last-child {
    margin-bottom: 0;
  }
}

.card-top {
  padding: 1.25rem;
  background: #000;
  border-top-left-radius: $card-inner-border-radius;
  border-top-right-radius: $card-inner-border-radius;
}