.card-list {
  .card {
    margin-bottom: 1em;
  }

  .card:last-child {
    margin-bottom: 0;
  }
}

.card-top {
  padding: 1.25rem;
  border-top-left-radius: $card-inner-border-radius;
  border-top-right-radius: $card-inner-border-radius;
  background-position: center;
  background-size: cover;

  .btn-outline-light:hover {
    color: $gray-800;
  }

  .social-links a {
    color: #ffffff;
  }
}

.card-background-image {
  background-position: center;
  background-size: cover;
}

a.card {
  text-decoration: none;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.12), 0 8px 8px 0 rgba(0,0,0,0.24);
  }
}