.footer {
  background-color: $brand-ash-grey;
  color: #ffffff;
  padding: 2em;

  a {
    color: $brand-black-coral;
  }

  .accent {
    color: $brand-rich-black;
  }

  .copyright {
    color: #ffffff;
  }

  .footer-nav {
    float: right;

    &.list-inline > li {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .credit {
    margin:0;
  }

  .copy-links {
    li {
      border-left: 1px solid white;

      &:first-child {
        border-left: 1px solid transparent;
      }
    }
  }
}
