.width-50 {
  width: 50% !important;
}

.mt-xs-4 {
  margin-top: 1.5rem !important;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.spacing-1em {
  display: block;
  height: 1em;
}

.text-white {
  color: #ffffff !important;
}

.sticky {
  position: fixed;
  width: 100%;
  z-index: 1029;
}
