.width-50 {
  width: 50% !important;
}

.pr-0 {
  padding-right: 0;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.spacing-1em {
  display: block;
  height: 1em;
}

.text-white {
  color: #ffffff !important;
}
