// Institute Brand Colors
$brand-mint: #38afad;
$brand-yellow: #f2b716;
$brand-black-coral: #546163;
$brand-ash-grey: #aeb3bf;
$brand-metallic-seaweed: #1a7796;
$brand-rich-black: #0d3c49;
$brand-red-purple: #a13c72;

// Navbar Settings
$fixed-nav-padding: 70px;