:root {
    --primary: rgba(56, 175, 173, 1);
    --primary-dark: rgba(46,145,119, 1);
    --primary-70: rgba(56, 175, 173, 0.7);
    --primary-50: rgba(56, 175, 173, 0.5);
    --primary-30: rgba(56, 175, 173, 0.3);
    --primary-10: rgba(56, 175, 173, 0.1);
    --logo: #0d3c49;
    --sidebar-icon: #aeb3bf;
}

.bg-grad-sidebar {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
